<div class="card tarjeta-comunidad">
    <div class="card-header comunidad-header">
        <div class="float-left">Comunidades</div>
        <div class="float-right">
            <a class="ver-comunidad" routerLink="/private/comunidades">Ver mas...</a>
        </div>
    </div>
    <div class="card-body">
        <div class="comunidad" *ngFor="let item of communitysCollection">
            <div class="celda">
                <div class="">
                    <img style="width: 41px;" class="rounded float-left " [src]="item.urlImage" alt="">
                </div>
                <div class="" style="font-size: 15px;">
                    {{ item.name }}
                </div>
                <div class="float-right unirse">
                    <a class="link-comunidad" [href]="item.url" target="_blank">Unirse</a>
                </div>
            </div>
            <hr style="margin-top:25px;">
        </div>
    </div>
</div>