<p>Bienvenido {{userService.user.displayName}} - <button type="button" (click)="cerrarSession()">Salir</button></p>

<div class="container-fluid">
    <div class="row centrar-contenido">
        <div class="col-8 text-center">
            <h2>Bienvenidos a Community Fest and Code</h2>
            <h3>!Conoce gente, aprende y gana!</h3>
            <p>La próxima edición regresa el 2022, en la cual se planea involucrar a todos los programadores
                independientemente del área de conocimiento que se encuentre,
                todo con un mismo proposito, aprender en comunidad.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <app-card-comunidad></app-card-comunidad>
        </div>
        <div class="col-lg-6">
            Carruseles
                <app-contador></app-contador>
        </div>
        <div class="col-lg-3">
            En blanco
        </div>
    </div>
</div>