.note-has-grid .single-note-item .card {
  border-radius: 10px; }

.note-has-grid .single-note-item .side-stick {
  position: absolute;
  width: 3px;
  height: 35px;
  left: 0;
  background-color: rgba(79, 84, 103, 0.5); }