/*
* Footer siempre pegado abajo
*/
app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

app-footer {
  margin-top: auto;
}

/*
*Focus de los inputs
*/
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #89188b;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(137 24 139 / 24%);
}

.centrar-contenido {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  border-radius: 50%;
}

a {
  color: #89188b;
  text-decoration: none !important;
  background-color: transparent;
}

a:hover {
  color: #89188b;
  text-decoration: none !important;
}
