<swiper class="swiper-container" fxFlex="auto" [config]="config">


  <div class="swiper-slide h-auto" *ngFor="let contentCreator of contentCreators">
    <div class="w-100 bg-secondary">
      <img class="img-fluid" [src]="contentCreator.urlImage" [alt]="contentCreator.name">

        <div class="text-center mt-n5">

            <img style="width: 60px" [src]="contentCreator.urlLanguajeLogo" alt="">


        </div>
      <div class="py-3">
        <h5 class="text-center">{{contentCreator.name}}</h5>

      </div>
    </div>
  </div>


</swiper>
