<div class="col-lg-12">
    <div class="text-center">
        <h4>{{event?.titlePhase}}</h4>
    </div>
    <div class="card text-center contador" style="background-color:lightslategray;">
        <div class="card-body">
            <div class="container">
                <div class="row" style="font-size: 50px;">
                    <div class="col-sm">
                        {{ day }}
                        <p class="tiempo">Días</p>
                    </div>
                    <div class="col-sm">
                        {{ hour }}
                        <p class="tiempo">Horas</p>
                    </div>
                    <div class="col-sm">
                        {{ minutes }}
                        <p class="tiempo">Minutos</p>
                    </div>
                    <div class="col-sm">
                        {{ seconds }}
                        <p class="tiempo">Segundos</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="container">
                <div class="row" style="font-size: 15px;">
                    <div class="col-sm">
                        Días
                    </div>
                    <div class="col-sm">
                        Horas
                    </div>
                    <div class="col-sm">
                        Minutos
                    </div>
                    <div class="col-sm">
                        Segundos
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>