<div class="container-fluid mt-3">
    <div class="row mb-3">
        <div class="col-lg-3">
            <div class="card">


                <div class="card-body">
                    <div class="text-right">

                        <a class="link" routerLink="/private/my-info/edit-profile">Editar Perfil</a>
                    </div>
                    <div class="text-center">
                        <img style="max-width: 200px" class="circle " [src]="userService.user.urlAvatar" alt="">
                    </div>
                    <h5 class="card-title text-center font-weight-bold mt-3">
                        {{userService.user?.displayName}}
                    </h5>
                    <h6 class="text-center text-muted">
                        Front End / UX
                    </h6>
                    <p class="card-text ">
                        {{userService.user?.biography}}
                    </p>
                    <div *ngIf="userBadges.length > 0">
                        <hr>
                        <div  class="d-flex justify-content-between">
                            <img *ngFor="let badge of userBadges" style="max-width: 50px" class="circle " [src]="badge.urlImage" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>